.article{
    border: 2px solid black;
    padding: .8rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.article-btn{
    background-color: transparent !important;
}
.article-img{
    max-width: 100%;
}
.full-article-img{
    width: 30%;
}
.form-control.articles-search{
    margin-bottom: 4rem;
    background-color: white !important;
    border: 2px solid black !important;
    color: black !important;
    font-family: "e-Ukraine-Bold";
}